/* Remove default bullets */
.tree-view,
.tree-nested {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

/* Style the items */
.tree-item,
.files-tree-title {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.tree-caret .fa-folder {
    display: inline-block;
}

.tree-caret .fa-folder-open {
    display: none;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree-caret-down .fa-folder {
    display: none;
}

.tree-caret-down .fa-folder-open {
    display: inline-block;
}

/* Hide the nested list */
.tree-nested {
    display: none;
}