#selectHead {
    max-width: 30vw;
}

.form-adapability {
    padding-left: 12.5px;
}

.full {
    width: 100%;
}

.download-progress {
    width: 100%;
    outline: 1px solid var(--outline)
}

#update_executable {
    justify-content: center;
}