.select-css option {
    background-color: var(--deep-bg);
    color: var(--base-text)
}

.select-css option:checked {
    background-color: var(--deep-bg);
    color: var(--base-text)
}

nav.sidebar {
    position: fixed;
}

td {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

td::-webkit-scrollbar {
    display: none;
}

@media (min-width: 992px) {
    nav.sidebar {
        position: fixed;
        max-height: auto;
    }

    .main-panel {
        margin-left: 270px;
    }

    .sidebar-icon-only .main-panel {
        margin-left: 70px;
    }
}


.sidebar>.nav>.nav-item:not(.nav-profile)>.nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid var(--white);
    display: block;
}

.toggle-handle {
    background-color: var(--white) !important;
}

.toggle-on {
    color: var(--dark) !important;
}

.toggle {
    height: 0px !important;
}

.sidebar>.nav>.nav-item:not(.nav-profile)>.nav-link:before {
    content: none;
    position: absolute;
    left: 30px;
    right: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid var(--white);
    display: block;
}

.sidebar>.nav .nav-item .nav-link,
.collapsed {
    padding: 15px 30px;
}

.mc-log-time {
    color: var(--success);
}

.mc-log-info {
    color: var(--info);
}

.mc-log-warn {
    color: var(--warning);
}

.mc-log-error {
    color: #af463f;
}

.mc-log-fatal {
    color: #da0f00;
}

.mc-log-keyword {
    color: var(--primary);
}

.scrollable-element {
    scrollbar-color: var(--red) var(--yellow);
}

.term-nav-item {
    padding: 1%;
}

/* Fix body scrollbar color */
body {
    background-color: var(--dark) !important;
    /* Firefox */
}

/* Webkit */
/* Didn't really work out
::-webkit-scrollbar { background-color: #202538; }
::-webkit-scrollbar-button { background-color: #1D212F; }
::-webkit-scrollbar-thumb { background-color: #777A86; }
::-webkit-scrollbar-thumb:hover { background-color: #646773; }

::-webkit-scrollbar-track { background-color: #202538; }
::-webkit-scrollbar-corner { background-color: #202538; }*/

.actions_serverlist>a>i {
    cursor: pointer;
}

.actions_serveritem {
    cursor: pointer;
}

.corner {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

.accordion .card {
    margin-bottom: 0px;
}

.bootbox-body {
    text-align: center;
}

/**************************************************************/
/* CSS for Froms Displays */
/**************************************************************/
div>.input-group>.custom-file-input {
    position: relative !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    width: 1% !important;
    margin-bottom: 0 !important;
    border: 1px solid var(--outline);
}

div>.input-group>.form-control-file {
    position: relative !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    width: 1% !important;
    margin-bottom: 0 !important;
    border: 1px solid var(--outline);
}

.custom-picker {
    border: 1px solid var(--outline);
}

div>.input-group>.form-control {
    position: relative !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    width: 1% !important;
    margin-bottom: 0 !important;
    border: 1px solid var(--outline);
}

.input-group>.input-group-append>button.upload-button {
    height: calc(1.5em + 0.75rem + 2px);
}

.no-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.custom-control-label::before,
.custom-control-label::after {
    cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
    color: black !important;
    background-color: blueviolet !important;
    border-color: var(--outline) !important;
}

.custom-control-label::before {
    background-color: white !important;
    top: calc(-0.2rem);
}

.custom-switch .custom-control-label::after {
    top: calc(-0.125rem + 1px);
}

a.btn-primary {
    color: var(--white);
}

button.btn-primary {
    color: var(--white);
}

/**************************************************************/

/**************************************************************/
/* CSS for Tables Displays */
/**************************************************************/
td>ul {
    margin: auto;
}

td p {
    margin: auto;
}

td.action {
    white-space: normal;
}

td.action .btn {
    margin-bottom: 0.2rem;
}

/**************************************************************/

/**************************************************************/
/* CSS for warnings Displays */
/**************************************************************/
div.warnings div.wssError {
    color: var(--white);
}

div.warnings div.wssError a {
    color: var(--outline);
}

div.warnings div.wssError a:hover {
    color: var(--white-smoke);
}

/**************************************************************/

/**************************************************************/
/* CSS for Fonts Displays */
/**************************************************************/
*:lang(th-TH) :not(.fa, .fas, .fab, .fa-solid) {
    font-family: 'Sarabun', 'roboto', sans-serif;
}

/**************************************************************/
.hidden-input {
    margin-left: -40px;
}

/**************************************************************/
/* CSS for notification tray */
/**************************************************************/

.badge {
    border-radius: 50%;
    font-weight: bold;

    /* aspect ration is a new css feature but is not needed for the tag to display properly,
    it will just make it look better on up to date browsers */
    aspect-ratio: 1/1;
}

.notif-div {
    --space-between-notifs: 24px;
    border-radius: 16px !important;
    padding: 0 !important;
    margin-top: 24px !important;
    box-shadow: inset 0 0 0 1px var(--outline), 0 5px 10px 0 rgba(0, 0, 0, 0.13) !important;
    width: 40vw;
    max-height: 80vh;
}
.notif-div:has(.no-notif) {
    width: 20vw;
}

#announcements {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-notifs);
    padding: 24px !important;
}

.notif {
    background-color: transparent;
    width: 100%;
    padding: 0;
    border-radius: 0 !important;
    border: none;
}
.notif:not(:nth-last-of-type(1)) {
    padding-bottom: var(--space-between-notifs);
    border-bottom: solid 1px var(--outline);
}
.notif * {
    margin: 0 !important;
}
.notif-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.notif .notif-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notif .notif-metadata {
    display: flex;
    flex-direction: column;
}
.notif .notif-actions {
    display: flex;
    align-items: center;
    gap: 4px;
}
.notif .notif-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border-radius: 50%;
    color: var(--purple);
    aspect-ratio: 1/1;
    border: none;
    background: none;

    transition: background-color 0.25s;
}

.notif .notif-button > i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif .notif-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.notif .notif-date-time {
    font-size: 12px;
    color: var(--base-text);
    opacity: 0.5;
}

.notif .notif-content {
    color: var(--base-text);
    font-size: 14px;
}

.notif h6 {
    color: var(--base-text);
    font-weight: 800;
}

/* Clear all button */
.notif-clear-all {
    border: none;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, .05);
    color: var(--purple);
    margin-right: auto;
    margin-left: auto;
    transition: background-color .25s;
    font-weight: bold;
}
.notif-clear-all:hover {
    background-color: rgba(255, 255, 255, .15);
}

.no-notif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    color: var(--base-text);
}
.no-notif p {
    margin: 0;
    text-align: center;
}

/**************************************************************/
